{#
/**
 * @file ansible_playbook.html.twig
 * Default theme implementation to present Ansible playbook data.
 *
 * This template is used when viewing Ansible playbook pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ansible_playbook()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ansible_playbook') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
