{#
/**
 * @file ansible_host.html.twig
 * Default theme implementation to present Ansible host data.
 *
 * This template is used when viewing Ansible host pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ansible_host()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ansible_host') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
