{#
/**
 * @file playbook_run.html.twig
 * Default theme implementation to present Playbook run data.
 *
 * This template is used when viewing Playbook run pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_playbook_run()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('playbook_run') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
